/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
  }
  
  /* Navigation styles */
  nav {
    background-color: #1C1C1C;
    color:#40E0D0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    
  }

  .nav-items {
    display: flex;
  }
  
  .nav-items a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
  }

  .search-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /*background-color: transparent;*/
    border-color: #000;
    top: 250px;
    left: 411px;
    opacity: 50%;

  }
  
  #search {
    width: 700px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #ddd;
    opacity: 50%;
  }

  #search input{
   width: 650px;
   margin-left: 6px;
   height: 30px;
   border: none;
   background-color: #ddd;
   opacity: 50%;
   outline: none;
   font-size: larger;
  
  }

  ::placeholder{
    color:black;
  }


  
  #search-button {
    background-color: #ddd;
    border: none;
    border-color: #000;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: -50px;
    background-color: transparent;
    cursor: pointer;

  }
  


  #search-button i{
    visibility: visible;
    color: #ddd;
    margin: auto;   
    cursor: pointer;
  }
  
.hero {
	position: relative;
	height: 700px;
}

.hero video {
	position: absolute;
	top: 0;
	left: 0;
  z-index: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(50%);
}

.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  z-index: 2;
}

.hero-text h1 {
	font-size: 48px;
	margin-bottom: 0px;
	color: #fff;
	text-shadow: 2px 2px 5px #000;
}

.hero-text p {
	font-size: 24px;
	margin-bottom: 20px;
	color: #fff;
	text-shadow: 2px 2px 5px #000;
}

 .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #333;
    color: #fff;
  }
  
  /* Featured movies section styles */
  .movies {
    padding: 2rem;
   
  }

  

  .movie-card {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
        /*margin-bottom: 2rem;*/

     /* box-shadow: 0 15px 35px rgba(0,0,0,0.295);  */

    /* box-shadow:  50px  50px rgba(0,0,0,265); */
    overflow: hidden;
    max-width: 300px;
    height: 450px;
  }

   .movie-card .poster{
    position: relative;
    overflow: hidden;
}
  
  .heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  

  .movie-card :hover{
    /* box-shadow: 0 0 50px #40E0D0; */
  }
  
  .movie-card img {
  max-width: 300px;
  height: 450px;
    
  }

  .movie-card .poster::before{
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;

}


.movie-card:hover .poster::before{
bottom: 0px;
background: linear-gradient(0deg,black,50%,transparent);

}

 .movie-card .poster img{
    width: 100%;
    transition: 0.5s;
    
}

.movie-card:hover .poster img{
 transform:translateY(-50px);
 filter:blur(1.5px);

}

.movie-card .details{
    max-width: 300px;
    position: absolute;
    bottom: -500px;
    z-index: 2;
    transition: 0.5s;
    margin: 5px;
}

.movie-card:hover .details{
    bottom: 5px;
    margin: 8px;
    
}

.movie-card .details h3{
    font-size: 14px;
    color: #fff;
}

.movie-card .details .rating{
    position: relative;
    padding: 5px 0;
}

.movie-card .details .rating .fa-star{
    color: yellow;
    font-size: 1rem;
}

 .movie-card .details .rating span{
    color: #fff;
   margin-left: 5px;
}

 .movie-card .details .tags{
    position: relative;
    margin-top: 5px;
}

 .movie-card .details .tags span{
    padding: 2px 5px;
    color: #fff;
    border-radius: 4px;
    font-weight:bold;
}

 .movie-card .details .tags span:nth-child(2){
    color: red;
    background-color: #fff;
    
}

 .movie-card .details .info{
    color: #fff;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align:l;
    margin-right: 8px;
    
}


.swiper-button-prev,
.swiper-button-next{

  position: static !important;
  transform: translate(0,0);
  margin: 10px  0px 0px 20px !important;
}

.slider-btns{
  display: flex;
  justify-content: flex-end;
  margin: 10px auto 0px auto;
}

.swiper-button-prev::after,
.swiper-button-next::after{
  font-size: 25px !important;
  font-family: 800;
  color: #000;
}

  
.swiper {
  width: 100%;
  height: 100%;
  color: #fff;

}
   

.mySwiper{
  
  width: 940px;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;


  }

 .swiper-slide
  {
   display: flex;
   align-items: center;
   width: 300px;
   color: #fff;

   
  }


  .swiper-wrapper{
    color: #fff;

  }

  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 940px;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.795); */


   /* height: 100vh; */
  
    /* /background: #fff; */
   
  }

/* footer section is below there */
.footer {
  display: flex;
  width: 100%;
  height: 200px;
  overflow: hidden;
  justify-content: space-around;
  text-align: justify;
  background-color: #1c1c1c;
  color: #fff;
  padding: 30px 0;
}

.footer-part1 {
  color: #40e0d0;
  display: flex;
  flex-direction: column;
}

.footer-part1 .footer-logo {
  display: flex;

  font-weight: bold;
}

.footer-part2 {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
}

.footer-newsletter{
  display: flex;
  flex-direction: column;
}
.subscribe {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.subscribe input {
  width: 415px;
  height: 30px;
}

.subscribe input[type="email"] {
  box-sizing: border-box;
}

.subscribe input[type="email"]:focus {
  box-sizing: border-box;
  outline: 4;
}

.subscribe input[type="email"] :hover {
  box-shadow: 0 0 4px #00ffe5;
  transition: 0.3s;
}

.subscribe button {
  background-color: #40e0d0;
  width: 82px;
}

.subscribe button:hover {
  background-color: #008d7f;
}
.footer-part3 {
  display: flex;
  flex-direction: column;
  width: 200px;
}

a {
  text-decoration: none;
  color: white;
}

.footer-part3 .footer-social {
  display: flex;
  justify-content: space-between;
  height: 150px;
}

.footer-social div {
  width: 38px;
}

.footer-social .icon {
  font-size: 30px;
  position: relative;
  color: #40e0d0;
  transition: 0.5s;
  z-index: 3;
}

.footer-social a:hover .icon {
  transform: rotateY(360deg);
}

.footer-social div:nth-child(1) :hover .icon {
  color: #dc2743;
}

.footer-social div:nth-child(2) :hover .icon {
  color: #4267b2;
}

.footer-social div:nth-child(3) :hover .icon {
  color: #1da1f2;
}

.footer-social div:nth-child(4) :hover .icon {
  color: #ff0000;
}

.footer-back-to-top {
  /* posi
    align-self: self-end; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer-back-to-top a i {
  font-size: 34px;
  color: #40e0d0;
}

.footer-back-to-top a:hover i {
  color: #008d7f;
}

/* Adjust alignment for small screens */
@media screen and (max-width: 480px) {
  .footer-navigation,
  .footer-social,
  .footer-newsletter,
  .footer-contact {
    margin-bottom: 10px;
  }

  .footer-newsletter input[type="email"] {
    width: 100%;
  }
}

   